
# Created by https://www.gitignore.io/api/r,linux,macos,windows

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md


# End of https://www.gitignore.io/api/r,macos
.Rproj.user

# Data files are on Cyverse Data Store in shared folder dhbrand/Premium/data

data/interim/G2F_Hybrid/hybrid_by_day_cleaned_weather.csv
data/interim/G2F_Hybrid/hybrid_by_week_cleaned_weather.csv
data/interim/G2F_Hybrid/hybrid_by_month_cleaned_weather.csv

data/interim/G2F_Hybrid/hybrid_by_day_calibrated_weather.csv
data/interim/G2F_Hybrid/hybrid_by_week_calibrated_weather.csv
data/interim/G2F_Hybrid/hybrid_by_month_calibrated_weather.cs

# job output files are on Cyverse Data Store in shared folder dhbrand/Premium/jobOuput

data/interim/G2F_Hybrid/exp_hyb_wks3-5_by_week_1k/
data/interim/G2F_Hybrid/exp_hyb_wks3-5_by_week_5k/
data/interim/G2F_Hybrid/exp_hyb_wks6-8_by_week_1k/
data/interim/G2F_Hybrid/exp_hyb_wks6-8_by_week_5k/
data/interim/G2F_Hybrid/exp_wks3-5_by_week_1k/
data/interim/G2F_Hybrid/hyb_wks3-5_by_week_1k/
data/interim/G2F_Hybrid/wks3-5_by_week_1k/
data/interim/G2F_Hybrid/hyb_wks3-5_by_week_1k_con/
data/interim/G2F_Hybrid/hyb_wks3-5_by_week_1k_bin/