
# Created by https://www.gitignore.io/api/r,linux,macos,windows

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md


# End of https://www.gitignore.io/api/r,macos
.Rproj.user

# Job output can be found on Dave's cyverse data store
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_Sigma.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_alpha.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_alphaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_beta.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_betaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_entropy.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_input.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_log.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_logPost.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_mu.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_nClusters.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_nMembers.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_phi.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_psi.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_sigmaSqY.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_theta.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_thetaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_3-5wksSubset/output_seed_3_5/output_z.txt

data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_Sigma.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_alpha.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_alphaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_beta.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_betaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_entropy.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_input.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_log.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_logPost.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_mu.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_nClusters.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_nMembers.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_phi.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_psi.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_sigmaSqY.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_theta.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_thetaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.15.18_6-8wksSubset/output_seed_6_8/output_z.txt

data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_Sigma.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_alpha.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_alphaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_beta.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_betaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_entropy.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_input.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_log.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_logPost.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_mu.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_nClusters.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_nMembers.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_phi.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_psi.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_sigmaSqY.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_theta.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_thetaProp.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/output_z.txt
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/riskProfObj.rda
data/interim/G2F_Hybrid/premiumOutput_2.26.18/output/runInfoObj.rda
