[submodule "PReMiuM-R-package"]
	path = Premium
	url = https://github.com/silvialiverani/PReMiuM-R-package.git
[submodule "Premium"]
	path = Premium
	url = https://github.com/silvialiverani/PReMiuM-R-package
